.header{
    width: 100%;
    display: flex;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: #000;
}

.header__logo{
    margin-left: 50px;
    text-decoration: none;
}

.header__contents{
    position: absolute;
    right: 10%;
    display: flex;
    list-style: none;
    
}

.header__contents li{
    margin: 0px 30px;
}

.twitter img{
    width: 25px;
    vertical-align: middle;
}


@media screen and (max-width: 767px){
    .header-sp{
        width: 100%;
        align-items: center;
    }

    .header-sp a{
        text-decoration: none;
        color: #000;
    }

    
    .header-sp__logo{
        margin-left: 10%;
        text-decoration: none;
    }

    .header-sp__contents{
        display: flex;
        padding: 0;
        justify-content: space-around;
    }

}